{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>Prediction</h2>
<p>Source file: {{ pred.sample.filepath }}</p>
<p>Start time (s): {{ pred.sample.start_time_s }}</p>
<p>End time (s): {{ pred.sample.stop_time_s }}</p>

{% if pred.reviewed_by  %}
    <p>Last reviewed by {{ pred.reviewer.username }} on {{ pred.reviewed_on }}</p>
    <p>User confidence (0-100): {{ pred.review_confidence_score }}</p>
{% endif %}

<table class="table table-hover">
    <tr>
        <td style="vertical-align: bottom;">
            <h3>Predicted Class: {{ pred.label }}</h3>
            <h4>From Model: {{ pred.ai_detection_method }}</h4>
            <h4>Model positive ID probability: {{ pred.probability }}</h4>

            <h2>Review</h2>
            <div class="col-md-10">
                {{ wtf.quick_form(form) }}
            </div>
        </td>
        <td>
            <img src="{{ url_for('main.plot_sample_spectrogram', sample_id=pred.sample.id, width=6, height=8) }}" class="image"/>
            <p></p>
            <audio controls>
                <source src="{{ url_for('static', filename='audio/sample_{}.wav'.format(pred.sample.id)) }}" type="audio/wav">
            </audio>
        </td>
    </tr>
</table>

<br>

<div class="row">
    <h2>Reference Examples ({{ example_form.species.data }})</h2>
    <div class="col-md-4">
        {{ wtf.quick_form(example_form) }}
    </div>

    <table class="table table-hover" style="max-wdith 512px">
        <tr>
            {% for item in examples %}
                <td>
                    <img src="{{ url_for('main.plot_example_spectrogram', example_id=item.id, width=4, height=6) }}" class="image"/>
                    <audio controls>
                        <source src="{{ url_for('static', filename='audio/example_{}.wav'.format(item.id)) }}" type="audio/wav">
                    </audio>
                </td>
            {% endfor %}
        </tr>
    </table>
    <h3>Example source files:</h3>
    {% for item in examples %}
        <p>{{ item.filepath }}</p>
    {% endfor %}
</div>


{% endblock %}
